{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="content-section">
    <form action="" method="POST"> {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Post:</legend>
         <h2>Are You Sure Do Want To Delete Post "{{object.title}}"</h2>

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-denger" type="submit">Yes,Delete</button>
             <a class="btn btn-outline-secondary" href="{% url "blog-details" object.id %}">Cancle</a>
        </div>
    </form>

</div>
{% endblock body %}