{% extends 'base.html' %}
{% block head %}
{% load crispy_forms_tags %}
{% endblock head%}

{% block body %}
        <div class="content-section">
            <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            {{ form | crispy }}
        </fieldset>
                <div class="form-group">
            <button type="submit" class="btn btn-primary">Request Password Reset</button>
                </div>
        </form>

{% endblock body %}